{% extends "layout.html" %}
{% block content %}
<div class="container-fluid vh-100 bg" >
    <div class="row h-25"></div>

    <div class="row justify-content-center h-50 " >
        <div class="col-sm-8" style="background-color: rgb(235, 242, 246); opacity:0.6; font-weight: bold; color: #000000;">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <!--render form content-->
                <div class="row ">
                    <div class="col-sm-6 justify-content-center">
                        {{ form.voter_id.label }}
                    </div>
                    <div class="col-sm-6">
                        {{ form.voter_id }} 
                    </div>   
                </div> 
                <div class="row">
                    <div class="col-sm-6 justify-content-center">
                        {{ form.email.label }}
                    </div>
                    <div class="col-sm-6 ">
                        {{ form.email }} 
                    </div>   
                </div> 
                <div class="row">
                    <div class="col-sm-6 justify-content-center">
                        {{ form.password.label }}
                    </div>
                    <div class="col-sm-6 ">
                        {{ form.password }} 
                    </div>   
                </div> 
                <div class="row justify-content-center">
                    <div class="col-sm-6">
                        {{form.submit(class ="btn btn-primary")}}
                    </div>  
                </div>
            </form>
        </div>
    </div>

    <div class="row h-25"></div>
</div>


<script src="bootstrap-5.0.0-beta3-dist/js/bootstrap.min.js"></script>

{% endblock content %}