{% extends "layout.html" %}
{% block content %}
<div class="container-fluid vh-100 h-100 bg" >
          
    <div class="container-fluid h-10" style="color:azure; font-size:2vw;background-color: 	#f5147d;">
        <div class="row">
            <div class="col-8">
                Result
            </div>
            <div class="col-4 align-content-center">
                <div class="btn-group" style="float:right;margin-top: 3%;margin-right: 4%;">
                    <button type="submit" class="btn btn-primary order-last" style="float: right;margin-top: 2%;margin-left: 10%;" onclick="logout()">Logout</button>
                </div>
            </div>
        </div>  
    </div>
    
    <div class="container-fluid h-90">
      <div class="row h-100 justify-content-center align-content-center" style="background-color:black">
        <div class="container h-100 col-md-6 order-md-first" >
            <div class="row h-25 align-content-center" style="text-align: center;background-color: white;">
                <div class="radio-tile col-6 order-first"style="padding: 0%; margin: 0%;">
                    <div class="icon" style="padding: 0%; margin: 0%;">
                      <svg  height="80" viewBox="0 0 80 80" width="80" xmlns="http://www.w3.org/2000/svg" class="zoom">
                        <!-- <path d="M0 0h24v24H0z" fill="none"/> -->
                        <image href=" {{ url_for('static', filename ='back.jpg') }}" height="80" width="80"></image>
                        <!-- <path d="M13.5 5.5c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zM9.8 8.9L7 23h2.1l1.8-8 2.1 2v6h2v-7.5l-2.1-2 .6-3C14.8 12 16.8 13 19 13v-2c-1.9 0-3.5-1-4.3-2.4l-1-1.6c-.4-.6-1-1-1.7-1-.3 0-.5.1-.8.1L6 8.3V13h2V9.6l1.8-.7"/> -->
                      </svg>
                    </div>
                    <label for="walk" class="radio-tile-label">Candidate1</label>
                </div>
                <div class="col order-last" style="text-align:justify;padding-top: 4%;">
                    Votes Gathered: {{ voteCount[0] }}    <br>
                    Position: {{ position[0] }}
                </div>    
            </div>
            <div class="row h-25 align-content-center" style="text-align: center;background-color: white;">
                <div class="radio-tile col-6 order-first"style="padding: 0%; margin: 0%;">
                    <div class="icon" style="padding: 0%; margin: 0%;">
                      <svg  height="80" viewBox="0 0 80 80" width="80" xmlns="http://www.w3.org/2000/svg" class="zoom">
                        <!-- <path d="M0 0h24v24H0z" fill="none"/> -->
                        <image href=" {{ url_for('static', filename ='back.jpg') }}" height="80" width="80"></image>
                        <!-- <path d="M13.5 5.5c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zM9.8 8.9L7 23h2.1l1.8-8 2.1 2v6h2v-7.5l-2.1-2 .6-3C14.8 12 16.8 13 19 13v-2c-1.9 0-3.5-1-4.3-2.4l-1-1.6c-.4-.6-1-1-1.7-1-.3 0-.5.1-.8.1L6 8.3V13h2V9.6l1.8-.7"/> -->
                      </svg>
                    </div>
                    <label for="walk" class="radio-tile-label">Candidate2</label>
                </div>
                <div class="col order-last" style="text-align:justify;padding-top: 4%;">
                    Votes Gathered: {{ voteCount[1] }}     <br>
                    Position: {{ position[1]}}
                </div>    
            </div>

            <div class="row h-25 align-content-center" style="text-align: center;background-color: white;">
                <div class="radio-tile col-6 order-first"style="padding: 0%; margin: 0%;">
                    <div class="icon" style="padding: 0%; margin: 0%;">
                      <svg  height="80" viewBox="0 0 80 80" width="80" xmlns="http://www.w3.org/2000/svg" class="zoom">
                        <!-- <path d="M0 0h24v24H0z" fill="none"/> -->
                        <image href=" {{ url_for('static', filename ='back.jpg') }}" height="80" width="80"></image>
                        <!-- <path d="M13.5 5.5c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zM9.8 8.9L7 23h2.1l1.8-8 2.1 2v6h2v-7.5l-2.1-2 .6-3C14.8 12 16.8 13 19 13v-2c-1.9 0-3.5-1-4.3-2.4l-1-1.6c-.4-.6-1-1-1.7-1-.3 0-.5.1-.8.1L6 8.3V13h2V9.6l1.8-.7"/> -->
                      </svg>
                    </div>
                    <label for="walk" class="radio-tile-label">Candidate</label>
                </div>
                <div class="col order-last" style="text-align:justify;padding-top: 4%;">
                    Votes Gathered:     <br>
                    Position:
                </div>    
            </div>

            <div class="row h-25 align-content-center" style="text-align: center;background-color: white;">
                <div class="radio-tile col-6 order-first"style="padding: 0%; margin: 0%;">
                    <div class="icon" style="padding: 0%; margin: 0%;">
                      <svg  height="80" viewBox="0 0 80 80" width="80" xmlns="http://www.w3.org/2000/svg" class="zoom">
                        <!-- <path d="M0 0h24v24H0z" fill="none"/> -->
                        <image href=" {{ url_for('static', filename ='back.jpg') }}" height="80" width="80"></image>
                        <!-- <path d="M13.5 5.5c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zM9.8 8.9L7 23h2.1l1.8-8 2.1 2v6h2v-7.5l-2.1-2 .6-3C14.8 12 16.8 13 19 13v-2c-1.9 0-3.5-1-4.3-2.4l-1-1.6c-.4-.6-1-1-1.7-1-.3 0-.5.1-.8.1L6 8.3V13h2V9.6l1.8-.7"/> -->
                      </svg>
                    </div>
                    <label for="walk" class="radio-tile-label">Candidate</label>
                </div>
                <div class="col order-last" style="text-align:justify;padding-top: 4%;">
                    Votes Gathered:     <br>
                    Position:
                </div>    
            </div>
        </div>
        <div class="container h-100 col-md-6 order-md-last">
            <div class="row h-25 align-content-center" style="text-align: center;background-color: white;">
                <div class="radio-tile col-6 order-first"style="padding: 0%; margin: 0%;">
                    <div class="icon" style="padding: 0%; margin: 0%;">
                      <svg  height="80" viewBox="0 0 80 80" width="80" xmlns="http://www.w3.org/2000/svg" class="zoom">
                        <!-- <path d="M0 0h24v24H0z" fill="none"/> -->
                        <image href=" {{ url_for('static', filename ='back.jpg') }}" height="80" width="80"></image>
                        <!-- <path d="M13.5 5.5c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zM9.8 8.9L7 23h2.1l1.8-8 2.1 2v6h2v-7.5l-2.1-2 .6-3C14.8 12 16.8 13 19 13v-2c-1.9 0-3.5-1-4.3-2.4l-1-1.6c-.4-.6-1-1-1.7-1-.3 0-.5.1-.8.1L6 8.3V13h2V9.6l1.8-.7"/> -->
                      </svg>
                    </div>
                    <label for="walk" class="radio-tile-label">Candidate</label>
                </div>
                <div class="col order-last" style="text-align:justify;padding-top: 4%;">
                    Votes Gathered:     <br>
                    Position:
                </div>    
            </div>

            <div class="row h-25 align-content-center" style="text-align: center;background-color: white;">
                <div class="radio-tile col-6 order-first"style="padding: 0%; margin: 0%;">
                    <div class="icon" style="padding: 0%; margin: 0%;">
                      <svg  height="80" viewBox="0 0 80 80" width="80" xmlns="http://www.w3.org/2000/svg" class="zoom">
                        <!-- <path d="M0 0h24v24H0z" fill="none"/> -->
                        <image href=" {{ url_for('static', filename ='back.jpg') }}" height="80" width="80"></image>
                        <!-- <path d="M13.5 5.5c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zM9.8 8.9L7 23h2.1l1.8-8 2.1 2v6h2v-7.5l-2.1-2 .6-3C14.8 12 16.8 13 19 13v-2c-1.9 0-3.5-1-4.3-2.4l-1-1.6c-.4-.6-1-1-1.7-1-.3 0-.5.1-.8.1L6 8.3V13h2V9.6l1.8-.7"/> -->
                      </svg>
                    </div>
                    <label for="walk" class="radio-tile-label">Candidate</label>
                </div>
                <div class="col order-last" style="text-align:justify;padding-top: 4%;">
                    Votes Gathered:     <br>
                    Position:
                </div>    
            </div>
            <div class="row h-25 align-content-center" style="text-align: center;background-color: white;">
                <div class="radio-tile col-6 order-first"style="padding: 0%; margin: 0%;">
                    <div class="icon" style="padding: 0%; margin: 0%;">
                      <svg  height="80" viewBox="0 0 80 80" width="80" xmlns="http://www.w3.org/2000/svg" class="zoom">
                        <!-- <path d="M0 0h24v24H0z" fill="none"/> -->
                        <image href=" {{ url_for('static', filename ='back.jpg') }}" height="80" width="80"></image>
                        <!-- <path d="M13.5 5.5c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zM9.8 8.9L7 23h2.1l1.8-8 2.1 2v6h2v-7.5l-2.1-2 .6-3C14.8 12 16.8 13 19 13v-2c-1.9 0-3.5-1-4.3-2.4l-1-1.6c-.4-.6-1-1-1.7-1-.3 0-.5.1-.8.1L6 8.3V13h2V9.6l1.8-.7"/> -->
                      </svg>
                    </div>
                    <label for="walk" class="radio-tile-label">Candidate</label>
                </div>
                <div class="col order-last" style="text-align:justify;padding-top: 4%;">
                    Votes Gathered:     <br>
                    Position:
                </div>    
            </div>

            <div class="row h-25 align-content-center" style="text-align: center;background-color: white;">
                <div class="radio-tile col-6 order-first"style="padding: 0%; margin: 0%;">
                    <div class="icon" style="padding: 0%; margin: 0%;">
                      <svg  height="80" viewBox="0 0 80 80" width="80" xmlns="http://www.w3.org/2000/svg" class="zoom">
                        <!-- <path d="M0 0h24v24H0z" fill="none"/> -->
                        <image href=" {{ url_for('static', filename ='back.jpg') }}" height="80" width="80"></image>
                        <!-- <path d="M13.5 5.5c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zM9.8 8.9L7 23h2.1l1.8-8 2.1 2v6h2v-7.5l-2.1-2 .6-3C14.8 12 16.8 13 19 13v-2c-1.9 0-3.5-1-4.3-2.4l-1-1.6c-.4-.6-1-1-1.7-1-.3 0-.5.1-.8.1L6 8.3V13h2V9.6l1.8-.7"/> -->
                      </svg>
                    </div>
                    <label for="walk" class="radio-tile-label">Candidate</label>
                </div>
                <div class="col order-last" style="text-align:justify;padding-top: 4%;">
                    Votes Gathered:     <br>
                    Position:
                </div>    
            </div>
        </div>
    </div>
    </div>
   
</div>
{% endblock content %}